.footer {
  background-color: #f7bec0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #2b4d7f;
}

.footer-social a {
  color: #7b3a89;
  text-decoration: none;
  margin-left: 1rem;
}

.footer-social a:hover {
  color: #e639a3;
}

.twitter-icon,
.custom-icon {
  width: 1.5rem; /* Adjust the width to your desired size */
  height: 1.5rem; /* Adjust the height to your desired size */
}
